
/*..............google font..............*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');
/*............................*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
  }
section{
    margin:0 140px 120px 140px;
    max-width: 1320px;
}

.container{
    width: 100%;
    
    
}
img{
    width: 100%;
}

/*............................*/
/* ..........banner_section.................*/

.banner_section .container{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/Banner\ Image.png);
    margin-top: 50px;
    height: 600px;
    background-size: cover; 
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.banner_section .container .banner h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    margin-top: 177px;
    font-weight: 400;

}
.banner_section .container .banner h2{
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
margin:0 344px 177px 344px;
font-weight: 900;
line-height: 95px; 
}
/* ..........end banner_section.................*/

/*...........start hot_deals...........*/

.hot_deals .container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.deals h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom:48px;
}
.deals p{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom:10px;
}
.deals h3{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom:48px;
}

/*...........end hot_deals...........*/

/*...........start party_section...........*/
.party_section{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/Vectorrr.png);
    height: 600px;
    background-size: cover;
}
.party_section .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.party_section .container .party_contant{ 
   margin:126px 39px 142px 126px;
}

.party_section .container .party_contant h1{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin:0 55px 24px 0;
}
.party_section .container .party_contant p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.party_section .container .party_contant .btn{
    color: #FFF;
    background-color: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline:none;
    margin: 48px 0 48px 32px;
}
.party_section .container .party_pic{
    margin:68px 138px 67px 0;
}
/*...........end party_section...........*/

/*...........start event_schedule...........*/

.event_schedule {
    height:482px;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
}
.event_schedule .container{
    display: flex;
    justify-content: center;
   
}
.event_schedule .container .event_content{
    text-align: center;
    margin:100px 385px 110px 386px;
}
.event_schedule .container .event_content h3{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
} 
.event_schedule .container .event_content h3 span{
    color: #F00;
   
} 
.event_schedule .container .event_content .join_now_btn{
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border:0;
    outline: 0;
    margin-top: 48px;
}
/*...........end event_schedule...........*/

/*...........start best_offer...........*/
.best_offer .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}
.best_offer .container .left_content h3{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.best_offer .container .left_content h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 18px;
}
.best_offer .container .left_content p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}


.best_offer .container .offer_pic{
    border-radius: 463px;
    border: 15px solid #F00;
    padding:49px;
    margin:0 110px 0 70px;
}
.best_offer .container .offer_pic img{
    width: 364px;
    height: 364px;
   
}

.best_offer .container .right_content h2{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.best_offer .right_content p{
    width:276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin:10px 0 43px 0;
}
.best_offer .right_content img{
    width: 140px;
    height: 140px;
}
/*...........end best_offer...........*/


/*...........start holiday_offer...........*/

.holiday_offer .container .contant{ 
    text-align: center;
}
.holiday_offer .contant h3{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.holiday_offer .contant h1{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.holiday_offer .contant h1 span{
    color: #F00;
}
.holiday_offer .contant p{
    padding:0 18px;
    margin:28px 266px 64px 266px;
    color: rgba(7, 2, 17, 0.60); 
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}


.holiday_offer .offer_box_container{
    display: flex;
    justify-content: space-between;
   align-items: baseline;
}

.holiday_offer .offer_box_container .left_box{
    width:550px;
    height:433px;
    position: relative;
    bottom:-115px;
    left:59px;
}
.holiday_offer .offer_box_container .right_box{
    width:429px;
    height:433px;
    position: relative;
}
.holiday_offer .offer_box_container .right_box img{
    max-width: 429px;
    position: relative;
    right:0;
    bottom:0;
}
.holiday_offer .offer_box_container .right_box .discount{
    width:280px;
    height:280px;
    position: absolute;
    top:77px;
    left:-110px;
    margin:0;
}
.holiday_offer .container .bottom-background{
    width:100%;
    height:229px ;
    background-image: url(image/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
/*...........end holiday_offer...........*/


