
/*..............google font..............*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@400;700;900&display=swap');
/*............................*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  
  }
section{
    
    max-width: 1320px;
    margin:0 auto;
}

.container{
    width: 100%;
    margin:0 140px 120px 140px;
    
}
img{
    width: 100%;
}
ul li{
    list-style:none;
}
/*............................*/
/*............................*/
.section-header h3{
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.section-header h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 18px;
}
.section-header p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

/*............................*/
/* ..........banner_section.................*/

.banner_section .container{
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/Banner\ Image.png);
    margin-top: 50px;
    height: 600px;
    background-size: cover; 
    display:flex;
    justify-content: center;
    align-items: center;
    
}

.banner_section .container .banner h4{
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 32px;
    margin-top: 177px;
    font-weight: 400;

}
.banner_section .container .banner h2{
    color: #FFF;
text-align: center;
font-family: 'Merriweather', serif;
font-size: 72px;
margin:0 344px 177px 344px;
font-weight: 900;
line-height: 95px; 
}
/* ..........end banner_section.................*/

/*...........start hot_deals...........*/

.hot_deals .container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.deals h1{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom:48px;
}
.deals p{
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding-bottom:10px;
}
.deals h3{
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom:48px;
}

/*...........end hot_deals...........*/

/*...........start party_section...........*/

.party-section .container{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(image/Vectorrr.png);
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.party-section .container .party-contant{ 
   margin:126px 39px 142px 126px;
}

.party-section .container .party-contant h1{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin:0 55px 24px 0;
}
.party-section .container .party-contant p{
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.party-section .container .party-contant .btn{
    color: #FFF;
    background-color: transparent;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline:none;
    margin: 48px 0 48px 32px;
}
.party-section .container .party-pic{
    margin:68px 138px 67px 0;
}
/*...........end party_section...........*/

/*...........start event_schedule...........*/

.event-schedule .container{
    height:482px;
    background-image:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    display: flex;
    justify-content: center;
   
}
.event-schedule .container .event-content{
    text-align: center;
    margin:100px 385px 110px 386px;
}
.event-schedule .container .event-content h3{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
} 
.event-schedule .container .event-content h3 span{
    color: #F00;
   
} 
.event-schedule .container .event-content .join-now-btn{
    color: #FFF;
    border-radius: 8px;
    background: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 32px;
    border:0;
    outline: 0;
    margin-top: 48px;
}
/*...........end event_schedule...........*/

/*...........start best_offer...........*/
.best-offer .container{
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}

.best-offer .container .offer-pic{
    border-radius: 463px;
    border: 15px solid #F00;
    padding:49px;
    margin:0 110px 0 70px;
}
.best-offer .container .offer-pic img{
    width: 364px;
    height: 364px;
   
}

.best-offer .container .right-content h2{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.best-offer .right-content p{
    width:276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin:10px 0 43px 0;
}
.best-offer .right-content img{
    width: 140px;
    height: 140px;
}
/*...........end best_offer...........*/


/*...........start holiday_offer...........*/

.holiday-offer .container .contant{ 
    text-align: center;
}
.holiday-offer .contant h3{
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
}
.holiday-offer .contant h1{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
}
.holiday-offer .contant h1 span{
    color: #F00;
}
.holiday-offer .contant p{
    padding:0 18px;
    margin:28px 266px 64px 266px;
    color: rgba(7, 2, 17, 0.60); 
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}


.holiday-offer .offer-box-container{
    display: flex;
    justify-content: space-between;
   align-items: baseline;
}

.holiday-offer .offer-box-container .left-box{
    width:550px;
    height:433px;
    position: relative;
    bottom:-115px;
    left:59px;
}
.holiday-offer .offer-box-container .right-box{
    width:429px;
    height:433px;
    position: relative;
}
.holiday-offer .offer-box-container .right-box img{
    max-width: 429px;
    position: relative;
    right:0;
    bottom:0;
}
.holiday-offer .offer-box-container .right-box .discount{
    width:280px;
    height:280px;
    position: absolute;
    top:77px;
    left:-110px;
    margin:0;
}
.holiday-offer .container .bottom-background{
    width:100%;
    height:229px ;
    background-image: url(image/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
}
/*...........end holiday_offer...........*/
/*...........start portfolio...........*/

.service-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}
.portfolio .service-container .box{
    overflow: hidden; 
    max-width: 424px;
    height: 448px;
}
.portfolio .service-container .box img{
  
    transition: 0.4s;
}
.portfolio .service-container .box:hover img{
  
    transform: scale(1.4) rotate(15deg);
    
    }


/*...........end portfolio...........*/
/*...........start Newsletter...........*/

.Newsletter .container{
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding:80px;
}
.Newsletter img{
    max-width:150px;
}

.Newsletter h2{
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.Newsletter p{
    color: rgba(7, 2, 17, 0.60);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-bottom:  48px;
    
}
form input{
    padding:24px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    outline:none;
}
.Subscribtion-btn{
    padding:24px 56px;
    border-radius: 0px 50px 50px 0px;
    color:#FFF;
    background: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    border: none;
    outline:none;
    
}
/*...........end Newsletter...........*/

/*...........start footer...........*/
footer{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    background: #070211;
}
footer .container{
    margin:0 auto; 
    max-width: 1320px;
}
footer .row{
    width:100%;
    margin:120px 140px 0 140px;
}
footer .footer-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
}
footer .footer-head .addres,
footer .footer-head .contact{
    margin-top:120px;
    margin-bottom: 50px;
   
}
footer .footer-head .contact p{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
   
}
footer .footer-head .contact .icon{
    width: 32px;
    height: 32px; 
    margin-right:8px;
}
footer .footer-body ul{
display: flex;
justify-content: center;
align-items: center;
gap:24px;
padding:48px 0 48px 0;
}

.copy-right .content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
   width: 100%;
   padding-top:50px;
    padding-bottom:120px;
}
/*...........end footer...........*/
